.navbar {
    background-color: #333;
    color: #fff;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-logo {
    width: 55px;
    height: 55px;
    margin-left: 15px;
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-link {
    color: #fff;
    font-size: 1.5rem;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-link:hover {
    background-color: #555;
    color: #c5f80d; /* Couleur survol */
}

.active-link {
    background-color: #ff6347;
    color: #fff;
}

.navbar-logout-btn {
    background-color: #333532;
    color: #fff;
    font-size: 1.5rem;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navbar-logout-btn:hover {
    background-color: #779214;
    color: #fff;
}
