.navbar {
    background-color: #1c1c1c;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.navbar-link {
    color: #ccc;
    font-size: 1.2rem;
    padding: 8px 15px;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-link:hover {
    background-color: #444b52;
    color: #ffffff;
}

.active-link {
    background-color: #7d9215;
    color: #ffffff;
    font-weight: bold;
    border-bottom: 3px solid #d4ed55;
}
